{% extends 'StikmenRegBundle::base.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block content %}
<p>List of users</p>
<a href="{{ path('users_create') }}">Create user</a>

{% endblock %}
