{% extends 'StikmenRegBundle::base.html.twig' %}

{% block title %}
    Events
{% endblock %}

{% block content %}
<h1>List of events</h1>
{% if is_granted('ROLE_ADMIN') %}
  <a href="{{ path('events_create') }}">Create event</a>
{% endif %}

{% endblock %}
