{% extends 'StikmenRegBundle::base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
<h1>Contact info</h1>
<p>This page will have basic contact info for your org.</p>
{% endblock %}
